<section class="container">
    <div class="container text-center">
      <h1 class="jumbotron-heading">Let's help you find the help you need</h1>
      <hr class="my-4">
      <p class="lead text-muted">Can't find what you are looking for? Leave us a note</p>
      <p>
        <a href="#" class="btn btn-primary my-2">Contact</a>
      </p>
    </div>
  </section>

<%= render  "shared/services" %>