<h1>Service Providers</h1>
  <div class="container">
  <% Service.categories.each do |category| %>
    <div class="row">
      <%= category[0] %>
    </div>
    <div class="row">
    <% @services.select{ |s| s.category == category[0] }.each do | fs | %>
      <div class="card" style="width: 18rem;">
        <div class="col-sm">
          <div class="card-body">
            <td><%= fs.name %></td>
            <%= link_to 'Details', service_path(fs) %>
          </div>
        </div>
      </div>
    <% end %>
    </div>
  <% end %>
  </div>