<!-- Page Section -->
<section class="pw-page">

  <!-- Page Section - Header -->
  <header class="pw-page__header pw-services-header">
    <div class="container">
      <h1 class="pw-page__title">Powows</h1>
      <!--<a href='https://www.freepik.com/free-photos-vectors/business'>Business photo created by pressfoto - www.freepik.com</a>-->
    </div>
  </header>

  <!-- Page Section - Content -->
  <div class="pw-page__content pw-page__content--no-margin">

    <!-- Breadcrumb -->
    <div class="pw-breadcrumb">
      <div class="container">
        <ul class="pw-breadcrumb__list">
          <li class="pw-breadcrumb__list-item"><a href="/">Home</a></li>
          <li class="pw-breadcrumb__list-item"><span>Powows</span></li>
        </ul>
      </div>
    </div>

    <!-- Services List -->
    <div class="container">
      <%= render  "shared/services" %>
    </div>

    <!-- Cant Find Section -->
    <section class="pw-book-service">
      <div class="container">
        <header class="pw-book-service__header">
          <h2 class="pw-book-service__title">Book a Powow</h2>
        </header>
        <p class="pw-book-service__desc">Can't find what you are looking for? Leave us a note</p>
        <%= form_tag(feedback_path, :method => "post") do %>
        <div class="input-group">
          <%= search_field_tag :feedback, params[:feedback], placeholder: "New Powwow Request", class: "form-control" %>
          <div class="input-group-btn">
            <%= button_tag "Contact", :class => 'pw-btn pw-btn--default btn waves-effect',:name => nil%>
          </div>
        </div>
        <% end %>
      </div>
    </section>
  </div>
  </div>
</section>