<main role="main" class="container">
  <div class="jumbotron">
    <h1 class="display-8">How can we help?</h1>
    <p class="lead">We help you connect with professionals</p>
    <hr class="my-4">
    <p>Can't find the help? Leave us a note</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="" role="button">Contact</a>
    </p>
  </div>
</main>
<%= render  "shared/services" %>