

<!-- Page Section -->
<section class="pw-page">

  <!-- Page Section - Header -->
  <header class="pw-page__header">
    <div class="container">
      <h1 class="pw-page__title">New Meeting</h1>
    </div>
  </header>

  <!-- Page Section - Content -->
  <div class="pw-page__content pw-page__content--no-margin">

    <!-- Breadcrumb -->
    <div class="pw-breadcrumb">
      <div class="container">
        <ul class="pw-breadcrumb__list">
          <li class="pw-breadcrumb__list-item"><a href="/">Home</a></li>
          <li class="pw-breadcrumb__list-item"><a href="/meetings">Meetings</a></li>
          <li class="pw-breadcrumb__list-item"><span>New meeting</li>
        </ul>
      </div>
    </div>

    <div class="container">

      <%= render 'form', meeting: @meeting %>

    </div>
  </div>
</section>