<div class="container-div">
<meet id="meet">
</div>

<%= javascript_tag do %>
          <%# const domain = "ec2-3-80-130-47.compute-1.amazonaws.com"; %>
          const domain = "meet.jit.si"
          const options = {
            
            roomName: "<%= @meeting.room  %>",
            width: 800,
            height: 800,
            parentNode: document.querySelector('meet'),
          };
          const api = new JitsiMeetExternalAPI(domain, options);
          api.executeCommand('displayName', "<%= @meeting.professional.first_name%>");
          setTimeout(() => {
          api.addEventListener('videoConferenceJoined', (response) => {
        api.executeCommand('password', "<%= @meeting.password%>");
    });

}, 10);
          api.addEventListener('videoConferenceLeft', () => {window.location.href = "/meetings";})
<% end %>
         