<%
=begin%>
 <section class="container">
    <div class="container text-center">
      <h1 class="jumbotron-heading"><% @professionals.service.category %></h1>
      <hr class="my-4">
      <p class="lead text-muted">Can't find what you are looking for? Leave us a note</p>
      <p>
        <a href="#" class="btn btn-primary my-2">Contact</a>
      </p>
    </div>
  </section>
<div class="container">
<h1>Listing Professionals</h1>
 
<table>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Description</th>
    <th></th>
  </tr>
 
  <% @professionals.each do |pro| %>
    <tr>
      <td><%= pro.first_name %></td>
      <td><%= pro.last_name %></td>
      <td><%= pro.description %></td>
      <td><%= link_to 'Show', service_professional_path(service_id: pro.service_id, id:pro.id), class: 'btn btn-primary' %></td>
    </tr>
  <% end %>
</table>
</div> 
<%
=end
%>