
<main role="service" class="container">
  <div class="jumbotron">
<p>
  <strong>First Name:</strong>
  <%= @professional.first_name %>
</p>
 
<p>
  <strong>Last Name:</strong>
  <%= @professional.last_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @professional.description %>
</p>
</div>
</main>