///////////////////////
// Home - Header
//---
.pw-home-header {
  padding-bottom: 1em;
  padding-top: 1em;
  background-size: 100% 100%;
  background-image: url(asset-path('background.jpg'));
}
.pw-home-header-logo {
  display: block;
  margin: 0 auto;
  max-height: 470px;
  @media (max-width: 575px) {
    max-height: 350px;
  }
}


///////////////////////
// Home - About section
//---
.pw-home-about {
  background-color: #fff;
  padding: 60px 0;
  &__header {
    
  }
  &__title {
    text-transform: uppercase;
  }
  &__desc {
    @include fontSize(18px);
    font-weight: 300;
    line-height: 25px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &--bg1 {
    background-image: linear-gradient(to bottom, #ffffff 33%, #f7f7f7);
  }
  &--bg2 {
    background-image: linear-gradient(to bottom, #f7f7f7, #ffffff 36%);
  }
  &--bg3 {
      background-color: #f7f7f7;
  }
  @media (max-width: 767px) {
    padding: 40px 0;
  }
}