///////////////////////
// Professionals - Generic List
//---
.pw-professionals-list {
    @include resetList();
    .pw-img-wrap {
        background-color: #ccc;
    }
    &__item {
        margin-bottom: 30px;
    }
    &__card {

    }
    &__card-link {

    }
    &__card-img {
        
    }
    &__card-title {

    }
    &__card-desc {
        font-weight: 300;
        line-height: 25px;
    }
}

///////////////////////
// Professionals - Advantages
//---
.pw-pro-advantages {
    &__item {
        display: flex;
        align-items: center;
        &:before {
            display: block;
            content: "";
            width: 120px;
            height: 120px;
            flex-shrink: 0;
        }
        &--prices {
            &:before {
                @include sprite(0, -120px);
            }
        }
        &--schedule {
            &:before {
                @include sprite(-120px, -120px);
            }
        }
        &--dashboard {
            &:before {
                @include sprite(-240px, -120px);
            }
        }
        &--secure {
            &:before {
                @include sprite(-360px, -120px);
            }
        }
        &--deposit {
            &:before {
                @include sprite(0, -240px);
            }
        }
        &--subscribe {
            &:before {
                @include sprite(-120px, -240px);
            }
        }
        &:nth-child(even) {
            flex-direction: row-reverse;
            &:before {
                
            }
            .pw-pro-advantages__item-desc {
                text-align: right;
                padding-right: 20px;
                padding-left: 0;
            }
        }
        & + * {
            margin-top: 40px;
        }
    }
    &__item-desc {
        @include fontSize(22px);
        margin: 0;
        font-weight: 300;
        padding-left: 20px;
        @media (max-width: 575px) {
            @include fontSize(16px);
            font-weight: normal;
            display: block;
            color: #666666;
        }
    }
}