///////////////////////
// Services - Generic List
//---
.pw-services-list {
    @include resetList();
    &__item {
        margin-bottom: 30px;
    }
    &__card {

    }
    &__card-link {

    }
    &__card-img {
    }
    &__card-title {
        margin-top: 10px;
    }
    &__card-desc {
        font-weight: 300;
        line-height: 25px;
    }
}


///////////////////////
// Services - Booking new service section
//---
.pw-book-service {
    padding: 40px;
    background-color: $themeRelatedBGColor;
    &__header {

    }
    &__title {
        
    }
    &__content {

    }
    &__desc {
        font-weight: 300;
        line-height: 25px;
    }
}