.pw-services-list {
    @include resetList();
    &__item {
        margin-bottom: 30px;
    }
    &__card {

    }
    &__card-link {

    }
    &__card-img {
        width: 100%;
        height: auto;
    }
    &__card-title {
        margin-top: 10px;
    }
    &__card-desc {
        
    }
}