///////////////////////
// Services - Header
//---
.pw-services-header {
    position: relative;
    &:after {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        content: "";
        display: block;
        background: #eee url(asset-path('pw-services-header-bg.jpeg')) center center;
        background-size: cover;
        opacity: 0.3;
        width: 100%;
        height: 100%;
    }
    .pw-page__title {
        position: relative;
        z-index: 1;
        color: #333;
        //text-shadow: 0px 0px 2px #fff;
    }
}

///////////////////////
// Services - Generic List
//---
.pw-services-list {
    @include resetList();
    &__item {
        margin-bottom: 30px;
    }
    &__card {
        overflow: hidden;
        position: relative;
        border-radius: 5px;
        background-color: #fff;
        .pw-img-wrap {
            border-radius: 5px;
        }
    }
    &__card-img {
        transition: .3s ease-in-out;
    }
    &__card-info {
        padding: 20px;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        top: 70%;
        background-color: rgba(255, 255, 255, 0.5);
        transition: .3s ease-in-out;
        @media (max-width: 1200px) {
            top: 67%;
        }
        @media (max-width: 991px) {
            position: static;
        }
    }
    &__card-title {
        color: $baseTextColor;
        text-shadow: 0px 0px 2px #fff;
    }
    &__card-desc {
        margin: 20px 0 0;
        padding: 0;
        line-height: 25px;
        color: $baseTextColor;
    }
    &__card-link {
        &:hover {
            text-decoration: none;
            .pw-services-list__card-info {
                top: 0;
                background-color: rgba(255, 255, 255, 0.8);
            }
            .pw-services-list__card-title {
                text-decoration: none;
            }
            .pw-services-list__card-desc {
                text-decoration: none;
            }
            .pw-services-list__card-img {
                width: 104%;
                margin-left: -2%;
            }
        }
    }
}


///////////////////////
// Services - Booking new service section
//---
.pw-book-service {
    padding: 40px;
    background-color: $themeRelatedBGColor;
    &__header {

    }
    &__title {
        
    }
    &__content {

    }
    &__desc {
        font-weight: 300;
        line-height: 25px;
    }
}