<div class="album py-5 bg-white">
  <div class="container">
    <div class="row">
      <% Service.categories.each do |category| %>


      <% @services.select{ |s| s.category == category[0] }.each do | fs | %>
      <div class="col" style="align:center;">
        <div class="card bg-white " style="width:300px;">
          <a href=<%=service_path(fs)%>>
            <div class="card-img-bottom text-white card" style="height:400px;background-size:300px 400px;background-image:url(<%= asset_path "#{category[0]}.png" %>);"><%= fs.category%>
            </div>
          </a>


        </div>
        <p class="font-small blue-text d-flex justify-content-end">
      </div>
      <% end %>
      <% end %>
    </div>
  </div>
</div>