<ul class="pw-services-list row">
  <% Service.categories.each do |category| %>
    <% @services.select{ |s| s.category == category[0] }.each do | fs | %>
    <li class="pw-services-list__item col-sm-6 col-lg-4">
      <div class="pw-services-list__card">
        <a class="pw-services-list__card-link" href=<%=service_path(fs)%>>
          <div class="pw-img-wrap pw-img-wrap--service">
            <img class="pw-services-list__card-img pw-img pw-img--res" src="<%= asset_path "#{category[0]}.png" %>" alt="<%= fs.category%>">
          </div>
          <h3 class="pw-services-list__card-title"><%= fs.category%></h3>
        </a>
        <p class="pw-services-list__card-desc">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </li>
    <% end %>
  <% end %>
</ul>