<main role="main">
  <section class="div-background text-center home-section" style="padding-bottom:3em;padding-top:4em;background-image:url(<%= asset_path 'background.jpg' %>);">
    <div class="container-fluid">
      <%= image_tag "logo_transparent.png", class:"logo" %>
      <%# <p class="h3 text-center tagline text-white">Live digital services in your homes</p> %>
    </div>
  </section>

  <div class="message">
    <p class="card-text text-muted">Why?</p>
    <p class="lead text-black">Powow is reimagining the way customers access services! A digital first, on-demand video streaming platform with a community of creators and professionals offering digital products.</p>
    <p class="card-text text-muted">Customers</p>
    <p class="lead text-black">Interested in learning something new, discovering an activities or digging deeper into a topic? Search for live sessions and get started today <a class="btn bg-transparent text-black" href=<%= signup_path %>>sign up</a></p>
    <p class="card-text text-muted">Covid Update</p>
    <p class="lead text-black">This pandemic continues to impact our communities and has dramatically changed how we do business. Many have lost their jobs, were put on indefinite leave or are unable to perform services.</p>
    <p class="lead text-black">Tell us what we can do! Powow is here to help!</p>
  </div>

  <div class="container">
    <%= render "shared/services" %>
  </div>
</main>