<main role="main">
  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Let's get through, together!</h1>
      <p class="lead text-muted">In response to COVID-19, we decided to release this platform that allows you to connect with professionals, online!</p>
      <p>
        <a href="#" class="btn btn-outline-primary my-2">Connect with a professional</a>
        <% if !logged_in? and !isPro? %>
        <a href="services/new" class="btn btn-outline-secondary my-2">Register as a professional</a>
        <%end%>
      </p>
      <%= form_tag(services_path, :method => "get",   
        class: 'navbar-form navbar-left') do %>  
      <div class="input-group">  
        <%= search_field_tag :search, params[:search], placeholder: "search", class: "form-control" %>  
        <div class="input-group-btn">  
          <%= button_tag "Search", :class => 'btn btn-info glyphicon glyphicon-search',:name => nil%>  
        </div>  
      </div>  
    <% end %>
    </div>
  </section>

  <%= render "shared/services" %>
      

</main>
