///////////////////////
// Form
//---
.pw-form {
    &__footer {
        margin-top: 30px;
    }
    &__group {
        display: table;
        width: 100%;
        & + .pw-form__group {
        }
    }
    &__social {
        .pw-btn {
            display: block;
            margin: 0 auto !important;
            & + .pw-btn {
                margin-top: 20px !important;
            }
        }
    }
}