///////////////////////
// Main Content
//---
.pw-main {
    //margin-top: 70px;
    flex: 1 0 auto;
}

// Main Content - Generic page
.pw-page {
    &__header {
        padding-top: 70px;
        display: flex;
        align-items: center;
        min-height: 200px;
        justify-content: center;
        text-align: center;
        &--bg1 {
            padding: 110px 0 40px 0;
            background-color: $themeMainColor;
            //box-shadow: inset 0 0 10px #000000;
            .pw-page__title {
                color: #fff;
            }
        }
        &--bg2 {
            padding: 110px 0 40px 0;
            background-color: #ECEFF1;
            .pw-page__title {
                //color: #fff;
            }
        }
    }
    &__title {
        @include fontSize(50px);
    }
    &__content {
        margin-top: 50px;
        &--no-margin {
            margin-top: 0;
        }
    }
}


// Generic section
//------------------------
.pw-generic-section {
    background-color: #fff;
    &__header {
      margin-bottom: 40px;
    }
    &__title {
        position: relative;
        display: table;
        margin: 0 auto;
        text-align: center;
        &:after {
            position: absolute;
            bottom: -6px;
            content: "";
            display: block;
            height: 3px;
            width: 100%;
            background-color: $themeMainColor;
        }
    }
    &__desc {
      @include fontSize(18px);
      font-weight: 300;
      line-height: 25px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    &--padded {
        padding: 60px 0;
    }
    &--bg1 {
      background-image: linear-gradient(to bottom, #ffffff 33%, #f7f7f7);
    }
    &--bg2 {
      background-image: linear-gradient(to bottom, #f7f7f7, #ffffff 36%);
    }
    &--bg3 {
        background-color: #f7f7f7;
    }
    &--modal {
        border: 1px solid #ccc;
        padding: 20px !important;
        margin-top: -20px;
        border-radius: 5px;
    }
    @media (max-width: 767px) {
      padding: 40px 0;
    }
  }