/////////////////
// Variables
// --------------------------

// Base Settings
$baseFontSize: 16px;
$baseFontFamily: "SourceSansPro";
$baseTextColor: #333;

// Theme Colors
$themeMainColor: #00a3ff;
$themeLinksColor: #00a3ff;
$themeRelatedBGColor: #c7f1ff;

// Buttons
$btnHoverBGColor: #efefef;
$btnDefaultBGColor: $themeMainColor;
$btnDefaultHoverBGColor: #3cb8ff;
$btnAuthBGColor: #333;
$btnAuthHoverBGColor: #4d4d4d;


///// TODO 
/*
// Text
$baseTextColor: #212529;
$linksTextColor: #3282d3;

// Buttons
$btnGenericBgColor: #d3d3d3;
$btnCreateBgcolor: #68669B;


// Notifications
$successColor: #149257;
$errorColor: #e9306d;

// Form
$formRequired: #e7620c;

// Table
$tableRowActiveBgColor: #dae0c1;
$tableRowInvisibleTextColor: #ccc;

// Loader Colors
$loaderColor1: #0077ff;
$loaderColor2: #42e0be;*/