<!-- Page Section -->
<section class="pw-page">

  <!-- Page Section - Header -->
  <header class="pw-page__header pw-about-header">
    <div class="container">
      <h1 class="pw-page__title">About</h1>
    </div>
  </header>

  <!-- Page Section - Content -->
  <div class="pw-page__content pw-page__content--no-margin">

    <!-- Breadcrumb -->
    <div class="pw-breadcrumb">
      <div class="container">
        <ul class="pw-breadcrumb__list">
          <li class="pw-breadcrumb__list-item"><a href="/">Home</a></li>
          <li class="pw-breadcrumb__list-item"><span>About</span></li>
        </ul>
      </div>
    </div>
      
    <!-- Mission section -->
    <section class="pw-generic-section mb-4">
      <div class="container">
        <header class="pw-generic-section__header">
          <h2 class="pw-generic-section__title">Our Mission</h2>
        </header>

        <div class="pw-about-mission">
          <p class="pw-generic-section__desc"><strong>Powow</strong> thrives on the idea of enabling individuals service providers to become entrepreneurs and business owners.</p>
        </div>
      </div>
    </section>

    <!-- Values section -->
    <section class="pw-generic-section pw-generic-section--padded pw-generic-section--bg1">
      <div class="container">
        <header class="pw-generic-section__header">
          <h2 class="pw-generic-section__title">Core values</h2>
        </header>
        
        <ul class="pw-home-why row">
          <li class="col-lg-1"></li>
          <li class="pw-home-why__item pw-home-why__item--ownership col-sm-6 col-md-4 col-lg-2">
            <span class="pw-home-why__item-desc">Complete ownership</span>
          </li>
          <li class="pw-home-why__item pw-home-why__item--demtech col-sm-6 col-md-4 col-lg-2">
            <span class="pw-home-why__item-desc">Democratize technology</span>
          </li>
          <li class="pw-home-why__item pw-home-why__item--acomplish col-sm-6 col-md-4 col-lg-2">
            <span class="pw-home-why__item-desc">Customer success = your success</span>
          </li>
          <li class="pw-home-why__item pw-home-why__item--strategies col-sm-6 col-md-4 col-lg-2">
            <span class="pw-home-why__item-desc">Pay for what you use</span>
          </li>
          <li class="pw-home-why__item pw-home-why__item--strategies col-sm-6 col-md-4 col-lg-2">
            <span class="pw-home-why__item-desc">Allowing you to do your best work and keep the earnings</span>
          </li>
        </ul>
      </div>
    </section>

    <!-- Story section -->
    <section class="pw-about-story">
      <div class="container">
        <header class="pw-about-story__header">
          <h2 class="pw-about-story__title">Our Story</h2>
        </header>

        <div class="pw-about-story__desc">
          <div class="row">
            <div class="col-md-8">
              <p><strong>Powow</strong> focuses on making it easier for individuals to become business owners. We provide a platform that lets you manage your services on a single platform.</p>
              <p>Being an entrepreneur or a business owner is hard and we want to make it easier. The focus for entrepreneurs should be providing services and not worrying about managing numerous applications to support your business.</p>
              <p>Easy to use interface that lets you create your online presence in seconds. Ability to customize your dashboard that makes you effective and managing your business a breeze.</p>
              <p>An all in one solution, that’s <strong>Powow</strong>.</p>
            </div>
          </div>
        </div>
        
      </div>
    </section>

  </div>
  </div>
</section>