///////////////////////
// Buttons
//---
.pw-btn,
.btn.pw-btn {
    cursor: pointer;
    margin: 0;
    padding: 0.375rem 0.75rem;
    border-radius: 5px;
    box-shadow: none;
    @include fontSize(16px);
    text-transform: none;
    &.material-icons {
        @include fontSize(24px);
    }
    &:hover {
        background-color: $btnHoverBGColor;
        color: #333;
    }
    &--default {
        background-color: $btnDefaultBGColor;
        color: #fff;
        &:hover {
            background-color: $btnDefaultHoverBGColor;
            color: #fff;
        }
    }
    &--auth {
        background-color: $btnAuthBGColor;
        color: #fff;
        &:hover {
            background-color: $btnAuthHoverBGColor;
            color: #fff;
        }
    }
    &--light {
        background-color: #fff;
        color: $btnDefaultBGColor;
        &:hover {
            background-color: #eee;
        }
    }
    &--book {
        background-color: $btnAuthBGColor;
        color: #fff;
        &:hover {
            background-color: $btnAuthHoverBGColor;
            color: #fff;
        }
    }
    &--add {
        background-color: $btnAuthBGColor;
        color: #fff;
        &:hover {
            background-color: $btnAuthHoverBGColor;
            color: #fff;
        }
    }
    & + .pw-btn {
        margin-left: 10px;
    }
}