// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.search-box{
    align-content: center;
    width: 20%;
}

.div-background {
  // background-image: url("background.jpg");
  background-size: 100% 100%;
}

.logo {
  max-height: 470px;
}
.custom-link .custom-link:hover{
    color: red;
  text-decoration: none;
}

.tagline .lead { 
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

