// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.search-box{
    align-content: center;
    width: 20%;
}

.div-background {
  background-image: url("background1.png");
  background-size: 100% 100%;
}

.custom-link .custom-link:hover{
    color: red;
  text-decoration: none;
}

