// Bootstrap css
@import "bootstrap/dist/css/bootstrap";

// Configs (global variables and functions/mixins)
@import "abstracts/vars.scss";
@import "abstracts/functions.scss";
@import "abstracts/fonts.scss";

// Layout
@import "layout/scaffolds.scss";
@import "layout/forms.scss";
@import "layout/tables.scss";

// Layout
@import "components/buttons.scss";
@import "components/loader.scss";

// Pages
@import "pages/home.scss";
@import "pages/feedback.scss";
@import "pages/meetings.scss";
@import "pages/professional.scss";
@import "pages/services.scss";
@import "pages/sessions.scss";
@import "pages/users.scss";

.body {
  width: 100%;
  font-size: $baseFontSize;
}

.container {
  background-color: #f7f7f7;
  padding-top: 20px;
}

.div-background {
  background-color: #00a3ff;
}

.home-section {
  background-color: #4885ed;
}

.navbar a:hover {
  background-color: #f7f7f7;
}

a:hover {
  background-color: #f7f7f7;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.bg-dark {
  background-color: #343a40 !important;
}
.navbar-expand-md {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: inherit;
}

$zindex-sticky: 1020 !default;
$zindex-fixed: 1030 !default;
$zindex-modal-backdrop: 1040 !default;
$zindex-modal: 1050 !default;
$zindex-popover: 1060 !default;
$zindex-tooltip: 1070 !default;

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .container {
    background-color: white;
    padding-top: 20px;
  }

  .div-background {
    background-color: #00a3ff;
  }

  .fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
  }

  .bg-dark {
    background-color: #343a40 !important;
  }
  .navbar-expand-md {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: inherit;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .container {
    background-color: white;
    padding-top: 20px;
  }

  .div-background {
    background-color: #00a3ff;
  }

  .fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
  }

  .bg-dark {
    background-color: #343a40 !important;
  }
  .navbar-expand-md {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: inherit;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .container {
    background-color: white;
    padding-top: 20px;
  }

  .div-background {
    background-color: #00a3ff;
  }

  .fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
  }

  .bg-dark {
    background-color: #343a40 !important;
  }
  .navbar-expand-md {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: inherit;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .container {
    background-color: white;
    padding-top: 20px;
  }

  .div-background {
    background-color: #00a3ff;
  }

  .fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
  }

  .bg-dark {
    background-color: #343a40 !important;
  }
  .navbar-expand-md {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: inherit;
  }
  .spacer {
    width: 100%;
    height: 60px;
  }
}
