// Place all the styles related to the Professional controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.div-padding{
    padding-top:10%;
}
.card-header {
    font-size: larger;
    font-weight: 500;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(68, 127, 255);
}

.card-footer {
    font-size: larger;
    font-style: italic;
    background-color: rgb(68, 127, 255);
}